/*Responsive Index*/
@media screen and (max-width:320px) {
    .indexGrid {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .footerIndex {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
    footer div ul li {
        font-size: 24px;
        line-height: 45px;
    }    
    .carouselIndex {
        width: 100%;
        height: auto;
    }
    

    }

/*Responsive Cursos*/
@media screen and (max-width:320px) {
    .gridCursos {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .footCursos {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
    footer div ul li {
        font-size: 24px;
        line-height: 45px;
    }


    }

/*Responsive Nuestros profesores*/
@media screen and (max-width:320px) {
    .bodyGridNP {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .footerNp {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
    footer div ul li {
        font-size: 24px;
        line-height: 45px;
    }


    }

/*Responsive Contacto*/
@media screen and (max-width:320px) {
    .gridContacto {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        /*position: relative;*/
        height: 0;
    }
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .sectionForm {
        margin-left: 125px;
    }    
    .footerSeccionContacto {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
    footer div ul li {
        font-size: 24px;
        line-height: 45px;
    }



    }

/*Responsive seccion Trabaja con nosotros*/
@media screen and (max-width:320px) {
    .gridTrabajaConNosotros {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }
    .footerTrabajaConNosotros {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }
    footer div ul li {
        font-size: 24px;
        line-height: 45px;
    }
  

    }