footer {
    background-color: #000000;
    height: 150px;
    width: auto;

    .bi-whatsapp {
        @extend %iconosFooter;
    }
    .bi-instagram {
        @extend %iconosFooter;
    }
    .bi-twitter {
        @extend %iconosFooter;
    }
    .bi-facebook {
        @extend %iconosFooter;
    }
    .bi-envelope {
        @extend %iconosFooter;
    }
    .bi-geo-alt {
        @extend %iconosFooter;
    }
    .developer {
        text-decoration: none;
        font-family: "roboto condensed" , sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 17px;
    }
    .hipervinculos {
        text-decoration: none;
        color:#fcfcfc;

        &:hover{
            font-size: 20px;
            color: $rojo;
        }
    }
}

